.header {
  box-sizing: border-box;
  width: 100%;
  height: $headerHeight;
  padding: 15px;
  background: #cccccc;

  .login-link {
    margin-left: 20px;
    border: none;
    float: right;
    cursor: pointer;
    outline: none;
    background: #cccccc;
    font-size: 16px;
  }
}

.footer {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: $footerHeight;
  padding: 10px;
  bottom: 0;
  left: 0;
  background: #cccccc;
}