.main-area {
  width: calc(100% - #{$sideAreaWidth});
  height: 100%;
  position: relative;

  .error-message {
    padding: 10px 10px 10px 25px;
    border-radius: 5px;
    margin-bottom: 5px;
    list-style: none;
    color: #FF0000;
  }

  .list-area {
    box-sizing: border-box;
    width: 100%;
    height: calc(100% - #{$headerHeight} - #{$footerHeight});
    padding: 20px;
    overflow: hidden;
    overflow-y: scroll;

    .board-list {
      margin: 0;
      padding: 0;
      
      .board-list-item {
        padding: 10px 20px 25px 20px;
        border: 1px solid #cccccc;
        border-radius: 5px;
        margin-bottom: 20px;
        list-style: none;

        .board-list-item-inside {
          padding: 10px 20px;
          border: 1px solid #cccccc;
          border-radius: 5px;
          margin-bottom: 5px;
          list-style: none;
        }

        input[type="checkbox"] {
          margin-right: 10px;
        }

        .hidden-button {
          margin-left: 20px;
          border: none;
          float: right;
          cursor: pointer;
          outline: none;
        }
      }
    }

    .board-input-area {
      margin-bottom: 20px;
      overflow: hidden;
      background: #dddddd;
      padding: 15px 15px;
      border-radius: 5px;

        .board-input {
        border: 1px solid #666666;
        /* border-bottom: px; */
        padding: 10px 20px;
        font-size: 18px;
        float: left;
        width: calc(100% - 50px);
        margin-bottom: 5px;
      }

      .board-content {
        border: 1px solid #666666;
        /* border-bottom: px; */
        padding: 10px 20px;
        font-size: 18px;
        height: 100px;
        float: left;
        width: calc(100% - 50px);
        margin-bottom: 10px;
      }

      .add-button {
        border: none;
        border-radius: 5px;
        background: #3366FF;
        color: #FFFFFF;
        width: 60px;
        height: 35px;
        font-size: 15px;
        float: left;
      }
    }
  }
}
